.error {
    margin-top: 40px;
    &__container {}

    &__row {
        padding: 10px;
    }

    &__message {
        color: #000;
        font-weight: 700;
        font-size: 28px;
        text-align: center;
    }
}

